@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Open Sans', sans-serif;
}

.height-calc {
  height: calc(100% - 154px);
  @media only screen and (max-width: 495px) {
    height: calc(100% - 174px);
  }
}

.align-right {
  > div {
    @apply justify-end;
  }
}
